.buttons {
  .button:not(:first-child) {
    margin-top: 15px;
  }
}

.button {
  //formのbuttonタグ個別対応
  button {
    width: 100%;
  }
  .inner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #005dff;

    &:after {
      position: absolute;
      font-family: FontAwesome;
      content: '\f138';
      right: 35px;
      font-size: 17px;
      color: #fff;
    }

    span {
      color: #fff;
      position: relative;
      font-size: 16px;
    }
  }
}
